$primary-color: #A174DB;
$secondary-color: #49BE55;
$white-color: #FFFFFF;
$gray-one-color: #CCCCCC;
$gray-two-color: #C2C2C2;
$black-one-color:#666666;
$black-two-color: #777777;
$black-three-color:#222222;

$btn-gradient-color: linear-gradient(29deg, rgba(99,98,215,1) 23%, rgba(255,143,226,1) 99%);

$elements-box-shadow:  0 20px 60px #3E3E3E;
