$primary-color: #A174DB;
$secondary-color: #49BE55;
$white-color: #FFFFFF;
$gray-one-color: #CCCCCC;
$gray-two-color: #C2C2C2;
$black-one-color:#666666;
$black-two-color: #777777;
$black-three-color:#222222;

$btn-gradient-color: transparent linear-gradient(57deg, #6362D7 0%, #FF8FE2 100%) 0% 0% no-repeat padding-box;;

$elements-box-shadow:  0 20px 60px #3E3E3E;
